<!DOCTYPE html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet'>
    <title>{{personal.name}} - {{personal.jobtitle}}</title>
  </head>
  <body>
    <div id='main-wrapper'>
      <div id='information'>
        <div id='bio'>
          <figure>
            <img src="{{personal.picture}}">
          </figure>  
          <div>
            <h1>{{personal.name}}</h1>
            <span class='job'>{{personal.jobtitle}}</span>
            <span class='location'><i class="fa fa-map-marker"></i> {{personal.location.city}}, {{personal.location.country}}</span>
            <h3><a href="https://mitchellrollins.gitlab.io/resume">🌟Resume</a></h3>
          </div> 
        </div>
        <section id='portfolio'>
          <h2>Portfolio</h2>
          <div class='wrapper'>
              {{#portfolio}}
            <h3>{{title}}</h3>
            <span>{{start}} - {{end}}</span>
            <h5>{{company}}</h5>
            <img src="{{picture1}}">
            <img src="{{picture2}}">
            <p>{{desc}}</p>
            <br>
            <br>
            {{/portfolio}}
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
