h1, h2, h3, h4, h5, h6, p, span, li, a, figure {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: #303030; }

h1 {
  font-size: 1.75em; }

h2 {
  color: #0093ff;
  font-size: 1.3em; }

h3 {
  font-size: 1em;
  color: #5f5f5f; }

span, p, li {
  font-family: "Source Sans Pro", sans-serif;
  color: #858585;
  line-height: 2; }

span, a {
  color: #0093ff; }

ul {
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

html {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #0093ff;
  background-image: -webkit-linear-gradient(-405deg, #0093ff, #9fa1e0);
  background-image: linear-gradient(135deg,#0093ff, #9fa1e0); }
  @media screen and (min-width: 768px) {
    body {
      padding: 2em; } }

#main-wrapper {
  background-color: #FEFEFE;
  margin: 0 auto;
  max-width: 1150px;
  overflow: auto;
  position: relative; }
  @media screen and (min-width: 768px) {
    #main-wrapper {
      box-shadow: -25px 25px 25px 0 rgba(0, 0, 0, 0.15); } }

#information {
  width: 100%;
  box-sizing: border-box;
  padding: 2em 2em 0; }
  @media screen and (min-width: 768px) {
    #information {
      padding: 4em 4em 2em; } }
  @media screen and (min-width: 1140px) {
    #information {
      width: 100%; /*Change to 70% for right border*/
      float: left;
      border-right: 1px solid #EBEBEB; } }

section {
  margin: 2em 0 0; }
  section .wrapper {
    margin-top: 1em;
    padding-left: 1em;
    border-left: 1px solid #EBEBEB; }
  @media screen and (min-width: 768px) {
    section {
      margin: 4em 0 0; }
      section .wrapper {
        padding-left: 2em; } }

#bio {
  overflow: auto; }
  #bio figure {
    margin-right: 30px;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 40px; }
    #bio figure img {
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(75%);
      filter: grayscale(75%);
      border-radius: 40px;
      object-fit: cover; }
  #bio div {
    float: left; }
    #bio div span {
      display: block; }
      #bio div span.location {
        color: #858585; }
  @media screen and (min-width: 768px) {
    #bio figure {
      width: 100px;
      height: 100px; }
      #bio figure img {
        border-radius: 50px; }
    #bio div {
      margin-top: 0.5em; } }

footer {
  width: 100%;
  clear: left;
  display: block;
  text-align: right;
  box-sizing: border-box;
  border-top: 1px solid #EBEBEB;
  padding: 2em; }
  footer span {
    color: #858585; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 2em 4em; } }
  footer ul li {
    display: inline;
    padding-left: 10px;
  }
  footer li:first-child {
    float:left;
  }

.lists li {
  margin-bottom: 1em; }
  
.button {
    background-color: #0093ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}